.pool-interactor {
  max-width: 100%;
  padding: 30px;
}

.tabs {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.tab-buttons {
  position: relative; /* Устанавливаем relative для родителя */
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.tab-buttons button {
  flex: 1;
  font-size: 28px; /* Увеличенный шрифт */
  font-weight: bold;
  text-align: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px 0; /* Убираем боковые отступы */
  color: #4B5563;
  position: relative; /* Устанавливаем relative для кнопок */
}

.tab-buttons button.active {
  color: #8B5CF6;
}

.tab-indicator {
  position: absolute;
  bottom: -3px; /* Ставим индикатор под текстом */
  left: 0;
  height: 3px;
  width: 50%; /* Ширина индикатора */
  background-color: #8B5CF6;
  transition: all 0.3s ease;
}

.deposit-withdraw,
.configuration {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.amount-section {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-group {
  display: flex;
  gap: 15px;
}

input[type="number"] {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #D1D5DB;
  border-radius: 0.375rem;
}

.action-button,
.set-button {
  width: 25%;
  font-size: 20px;
  padding: 10px 40px;
  background-color: #8B5CF6;
  color: white;
  border: none;
  border-radius: 8px;
  text-align: center; /* Центрирование текста */
  display: flex; /* Flexbox для выравнивания */
  align-items: center; /* По вертикали */
  justify-content: center; /* По горизонтали */
  cursor: pointer;
}

.action-button:hover,
.set-button:hover {
  background-color: #7C3AED;
}

.exit-button {
  width: 100%;
  background-color: #111827;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}

.exit-button:hover {
  background-color: #1F2937;
}

.exit-description {
  font-size: 14px;
  color: #6B7280;
}

.royalty-button {
  width: 100%;
  background-color: #F3E8FF;
  color: #8B5CF6;
  padding: 8px;
  border-radius: 5px;
  font-size: 20px;
}

.royalty-button:hover {
  background-color: #EDE9FE;
}

.input-group {
  display: flex;
  gap: 15px;
}

.config-field {
  display: flex;
  flex-direction: column;
  margin-bottom: -5px;
}

.input-group input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #D1D5DB;
  border-radius: 0.375rem;
}

.operation-label {
  font-weight: bold;
  margin-bottom: 5px; /* Отступ под текстом */
  font-size: 16px;
}

.field-label {
  font-weight: bold;
  margin-bottom: 5px; /* Отступ под текстом */
  margin-left: 10px;
  font-size: 16px;
}

.operation-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; /* Отступ снизу */
}

.operation-select {
  flex: 0 0 20%; /* Фиксируем ширину на 20% */
  display: flex;
  flex-direction: column;
}

.operation-select select {
  width: 100%;
  padding: 10px;
  border: 1px solid #D1D5DB;
  border-radius: 8px;
  font-size: 14px;
}

.input-coef {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.input-coef input {
  width: 88%;
  margin-left: 10px;
  padding: 10px;
  border: 1px solid #D1D5DB;
  border-radius: 0.375rem;
}

.set-button {
  width: 20%;
  padding: 10px 20px; /* Внутренние отступы */
  background-color: #8B5CF6;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px; /* Размер шрифта */
  font-weight: bold;
  text-align: center;
  display: flex; /* Flexbox для центрирования текста */
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center; /* Центрирование по вертикали */
}

.set-button-coef {
  width: 20%;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #8B5CF6;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.set-button:hover {
  background-color: #7C3AED;
}