.grinderai-container {
  display: flex;
  width: 80%;
  margin-top: 30px;
  gap: 20px;
}

.grinderai-container-left {
  flex: 1;
}

.grinderai-container-right {
  flex: 1;
}

.grinder-container-left-title, .grinder-conteiner-right-title {
  font-size: 24px;
  font-weight: bold;
  color: rgb(255, 55, 232);
  text-transform: uppercase;
  text-align: center;
}

.grinderai-intent {
  border-radius: 8px;
  margin-top: 10px;
  border: 1px solid #ccc;
}

.grinderai-intent-plans {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: stretch;
}

.grinderai-intent-mint {
  width: 100%;
  margin-top: 10px;
}

.spinner {
  width: 16px;
  height: 16px;
  border: 2px solid transparent;
  border-top: 2px solid #fff;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  display: inline-block;
  margin-right: 8px; /* Расстояние между спиннером и текстом */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
