/* GRETHInfo.css */
.greth-info-container {
  width: 100%; /* Ширина компонента */
  font-family: Arial, sans-serif;
  color: #3d2c43; /* Основной цвет текста */
}

.info-card {
  flex: 1;

  overflow: hidden;
}

.card-content {
  padding: 16px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.info-list p {
  margin: 4px 0;
}

.chart-container {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}