/* Общий контейнер */
.app-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрирование относительно ширины экрана */
  box-sizing: border-box;
}

/* Контент, который выровнен относительно Header */
.content {
  position: relative;
  width: 100%;
  max-width: 80%; /* Совпадает с шириной хедера */
  margin-top: 60px; /* Отступ ниже хедера */
  display: flex; /* Flexbox для горизонтального расположения */
  justify-content: space-between; /* Разделение элементов: General слева, MintNFTPool справа */
  align-items: flex-start; /* Выровнено по верхнему краю */
  padding: 0 20px; /* Отступы по бокам */
  box-sizing: border-box;
}

body {
  background-color: #f9f4f6; /* Нежно-розовый цвет */
  margin: 0;
  font-family: Arial, sans-serif;
}

.table-section {
  width: 80%;
  margin-top: 40px;
  padding: 0px;
  background-color: #ffffff; /* Белый фон для таблицы */
  border-radius: 8px; /* Закруглённые углы */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Лёгкая тень */
}