.mint-nft-pool {
    width: 100%; /* Фиксированная ширина окна */
    padding: 20px;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    box-sizing: border-box;
  }
  
.mint-nft-label {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 0px;
    color: #333;
    text-align: center;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
}

.form-group select,
.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  box-sizing: border-box;
  font-size: 18px;
}

.label-container {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 5px;
  color: #515151;
}

.select-with-icon {
  display: flex;
  align-items: center;
  gap: 5px; /* Расстояние между иконкой и select */
}
  
.select-with-icon .token-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.select-with-icon select {
    /*flex: 1; /* Занимает оставшееся пространство */
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  box-sizing: border-box;
  font-size: 18px;
}

.form-group input::placeholder {
    color: #ccc;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.approve-button,
.mint-button {
    flex: 1;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 5px;
    font-weight: bold;
}

.approve-button {
    background: #f7e1fc;
    font-size: 20px;
    font-weight: bold;
    color: #c556db;
}

.mint-button {
    background: #c1fbba;
    font-size: 20px;
    font-weight: bolt;
    color: #006f16;
}

.input-with-max {
    display: flex;
    align-items: center;
    position: relative;
  }

.input-field {
    flex: 1;
    padding: 8px 40px 8px 10px; /* Добавляем отступ справа для кнопки */
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
}

.max-button {
    position: absolute;
    right: 10px;
    top: 50%;
    
    background: none;
    border: none;
    color: #1f1f1f;
    font-size: 0.9rem;
    cursor: pointer;
    padding: 0;
}

.max-button:hover {
    text-decoration: underline;
}